# compliation
.idea/
__pycache__/
*/__pycache__/
*ipynb_checkpoint*


# tutorials data
tutorials/.ipynb_checkpoints/
tutorials/test.py
tutorials/5xFAD.p
tutorials/5xFAD_paper/

# other
.DS_Store

# pip stuff
dist/
PyWGCNA.egg-info/
